@*
 
*@
@model PE2023test.Models.Book_Author 
  
@{  
    Layout = "_Layout2";
    ViewData["Title"] = "Create new book_author";  
}

<section class ="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Create Book_Author Page.</h2>
            </div>
        </div>
    </div>
</section>

<section class="create-authorbook">
    <div class="container">
        <div class="row row-balance">
            <div class="col-lg-12">
                <div class="title-text">
                    <h4>Create Book Author</h4>
                </div>
           </div>
            <div class="col-lg-4 col-md-3 col-sm-3">  
               <form asp-action="AuthorCreate">  
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
                <div class="form-group">  
                    <label asp-for="BookID" class="label">Create the Book ID</label>  
                    <input asp-for="BookID" class="form-control input-text" />  
                    <span asp-validation-for="BookID" class="text-danger"></span>  
                </div>  
               <div class="form-group">  
                    <label asp-for="AuthorID" class="label">Create the Author ID</label>  
                    <input asp-for="AuthorID" class="form-control input-text" />  
                    <span asp-validation-for="AuthorID" class="text-danger"></span>  
                </div>
                <div class="form-group">  
                    <input type="submit" value="Book_Author Create" class="btn" />  
                </div>  
            </form>  
           </div>  
       </div>
    </div>
    <div class="row link-row">
        <div class="col-lg-4">
           <a asp-action="Book_AuthorIndex" class="navigate-link">Back to List</a>    
        </div>
    </div>
</section>  
 
@section Scripts {  
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
}

}