
@{
  Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PE2023test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PE2023test.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/books.css" type="text/css" />
</head>

<body id="logo-body">
    <header>
        <nav class="navbar navbar-expand-lg px-2 navbar-dark">
            <a class="navbar-brand" href="#"><img src="/css/img/logo_nhom.png" width="120" height="120" alt=""></a>
            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active typewriter">
                        <a class="nav-link" asp-action="BookIndex">
                            <img src="https://i.gifer.com/Paw.gif" width="80" height="130"/>
                            HOMEPAGE
                            <img src="~/css/img/dancing.png" width="100" height="130"/>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
   
    <section class="team-member">
        <div class="container">
            <div class="row fade-in" id="about_us">
                <div class="col-lg-3 col-md-6">
                    <img src="/css/img/team_images/about_us.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="col-lg-3 col-md-6">
                        <h2>About Us</h2>
                    </div>
                    <p id="desc_mem">
                        "This project was quite fun to be honest. We got to experience a lof of stuff, of course tiredness too. Hope that after this, each team member coud earn their peaceful sleep."
                        "Or more deadlines. Lol!"
                    </p>
                    <div class="quote-area">
                        <i class="fa-solid fa-quote-left"></i>
                        <p>Cứ Chill đi.</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>         
                </div>
                <div class="col-lg">
                    <div class="fill-space">

                    </div>
                </div>
            </div>
            <div class="divider fade-in">
                <a role="button" class="btn btn-dark btn-divider" href="#member__1"><i class="fa-solid fa-angle-down divider-icon"></i>Team Members!</a>
                <div class="vl-bot"></div>
                  
            </div>  
            <div class="row fade-in" id="member__1">
                <div class="col-lg-3 col-md-6">
                    <img src="/css/img/team_images/img_1.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="col-lg-2 col-md-6">
                        <h2>Nguyễn Khoa</h2>
                    </div>
                    <p id="desc_mem">
                         "The greatest glory in living lies not in never falling, but in rising every time we fall."
                    </p>
                    <div class="quote-area">
                        <i class="fa-solid fa-quote-left"></i>
                       <p>I LoVe DaeDLiNes</p>
                        <i class="fa-solid fa-quote-right" style="margin:27px 0px 3px 10px"></i>
                    </div>         
                </div>
                <div class="col-lg">
                    <div class="fill-space">

                    </div>
                </div>
            </div>
            <div class="divider">
                <a role="button" class="btn btn-dark btn-divider" href="#member__2"><i class="fa-solid fa-angle-down divider-icon"></i>Onto the next one!</a>
                <div class="vl-bot"></div>
                  
            </div>  
            <div class="row" id="member__2">
                <div class="col-lg-3 col-md-6">
                    <img src="/css/img/team_images/img_2.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="col-lg-2 col-md-6">
                        <h2>Dương Khải</h2>
                    </div>
                    <p id="desc_mem">
                        "The way to get started is to quit talking and begin doing."
                    </p>
                    <div class="quote-area">
                        <i class="fa-solid fa-quote-left"></i>
                        <p>I LoVe DaeDLiNes</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>         
                </div>
                <div class="col-lg">
                    <div class="fill-space">

                    </div>
                </div>
            </div>
            <div class="divider">
                <a role="button" class="btn btn-dark btn-divider" href="#member__3"><i class="fa-solid fa-angle-down divider-icon"></i>Next!</a>
                <div class="vl-bot"></div>
                  
            </div>  
            <div class="row" id="member__3">
                <div class="col-lg-3 col-md-6">
                    <img src="/css/img/team_images/img_3.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="col-lg-2 col-md-6">
                        <h2>Văn Khánh</h2>
                    </div>
                    <p id="desc_mem">
                       "Your time is limited, so don't waste it living someone else's life."
                    </p>
                    <div class="quote-area">
                        <i class="fa-solid fa-quote-left"></i>
                        <p>I LoVe DaeDLiNes</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>         
                </div>
                <div class="col-lg">
                    <div class="fill-space">

                    </div>
                </div>
            </div>
            <div class="divider">
                <a role="button" class="btn btn-dark btn-divider" href="#member__4"><i class="fa-solid fa-angle-down divider-icon"></i>Next!</a>
                <div class="vl-bot"></div>
                  
            </div>  
            <div class="row" id="member__4">
                <div class="col-lg-3 col-md-6">
                    <img src="/css/img/team_images/img_4.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="col-lg-2 col-md-6">
                        <h2>Thế Vinh</h2>
                    </div>
                    <p id="desc_mem">
                        "If life were predictable it would cease to be life, and be without flavor."
                    </p>
                    <div class="quote-area">
                        <i class="fa-solid fa-quote-left"></i>
                        <p>I LoVe DaeDLiNes</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>         
                </div>
                <div class="col-lg">
                    <div class="fill-space">

                    </div>
                </div>
            </div>
            <div class="divider">
                <a role="button" class="btn btn-dark btn-divider" href="#member__5"><i class="fa-solid fa-angle-down divider-icon"></i>Next!</a>
                <div class="vl-bot"></div>
                  
            </div>  
            <div class="row" id="member__5">
                <div class="col-lg-3 col-md-6">
                    <img src="/css/img/team_images/img_5.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="col-lg-2 col-md-6">
                        <h2>Hữu Độ</h2>
                    </div>
                    <p id="desc_mem">
                        "When you reach the end of your rope, tie a knot in it and hang on. "
                    </p>
                    <div class="quote-area">
                        <i class="fa-solid fa-quote-left"></i>
                        <p>I LoVe DaeDLiNes</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>         
                </div>
                <div class="col-lg">
                    <div class="fill-space">

                    </div>
                </div>
            </div>
            <div class="divider">
                <a role="button" class="btn btn-dark btn-divider" href="#member__6"><i class="fa-solid fa-angle-down divider-icon"></i>Next!</a>
                <div class="vl-bot"></div>
                  
            </div>  
            <div class="row" id="member__6">
                <div class="col-lg-3 col-md-6">
                    <img src="/css/img/team_images/img_6.png" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="col-lg-2 col-md-6">
                        <h2>Hoàng Nam</h2>
                    </div>
                    <p id="desc_mem">
                        "Spread love everywhere you go. Let no one ever come to you without leaving happier."
                    </p>
                    <div class="quote-area">
                        <i class="fa-solid fa-quote-left"></i>
                        <p>I LoVe DaeDLiNes</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>         
                </div>
                <div class="col-lg">
                    <div class="fill-space">

                    </div>
                </div>
            </div>
             <div class="divider" style="height:300px">
                <a role="button" class="btn btn-dark btn-divider" href="#about_us"><i class="fa-solid fa-angle-double-up divider-icon"></i>Back to top!</a>        
            </div>
            <div class="row">
                <img src="https://media.giphy.com/media/QyWBTLDn9WHt0FXGJS/giphy.gif" class="img-fluid"/>
            </div>
        </div>
    </section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9bc94d0d27.js" crossorigin="anonymous"></script>   
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="~/js/books.js"></script>
    <script type="text/javascript" src="~/js/validate.js"></script>
</body>
</html>


